.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button {
  margin-top: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  color: rgb(0, 0, 0);
}

.App-button:hover {
  background-color: #fa424a;
  color: white;
}

i {
  font-size: 2rem;
  font-weight: 800px;
}
