.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-button {
  margin-top: 20px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  transition: 0.2s;
  animation: pulse 2s;
}

.App-button:hover {
  transition: 0.2s;
  background-color: #fa424a;
  transform: scale(1.1);
  box-shadow: 0px 20px 20px #16191d;
  color: white;
}

i {
  font-size: 2rem;
  font-weight: 800px;
}

h1 {
  font-size: calc(10px + 2vmin);
  font-weight: 500;
}

p {
  font-size: 1.5rem;
  margin: 0 0 10px;
}

span {
  font-size: 1rem;
  margin: 0 5px;
}

@keyframes pulse {
  0% {
    background-color: #ffffff;
    color: black;
  }
  25% {
    background-color: #fa424a;
    color: white;
  }
  50% {
    background-color: #ffffff;
    color: black;
  }
  75% {
    background-color: #fa424a;
    color: white;
  }
  100% {
    background-color: #ffffff;
    color: black;
  }
}
